{% extends 'base.html' %}
{% load static %}

{% block nav_extra_links %}
<div class="nutri-header">
   {% if user.is_authenticated %}
        Bem-vindo(a), <strong>{{ user.nome }}</strong>
    {% endif %}
</div>

 <div class="nutri-links">
        {% if user.is_authenticated %}
            <a href="{% url 'nutricionista:nutri_dashboard' %}" class="nav-btn">Dashboard</a>
            <a href="{% url 'nutricionista:selecionar_paciente' %}" class="nav-btn">Consulta</a>
             <a href="{% url 'nutricionista:cadastrar_paciente' %}" class="nav-btn">Cadastrar Paciente</a>
            <a href="#" class="nav-btn logout-link" onclick="document.getElementById('logout-form').submit(); return false;">Sair</a>

        <form id="logout-form" method="post" action="{% url 'logout' %}" style="display:none;">
            {% csrf_token %}
        </form>
        {% endif %}
            
    </div>
{% endblock %}
